@import "variables";

@font-face {
  font-family: "Kadwa";
  src: url("/fonts/Kadwa/Kadwa-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Kadwa";
  src: url("/fonts/Kadwa/Kadwa-Bold.ttf");
  font-weight: bold;
}

body {
  background-color: $color-light;
  margin: 0;

  .container {
    border-radius: 10px;
    flex: 1 1 0;
    max-width: 750px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23bdbcb7FF' stroke-width='8' stroke-dasharray='5%2c 20' stroke-linecap='square'/%3e%3c/svg%3e");
    padding: 20px 30px;
  }
}

* {
  font-size: 100%;
  font-family: Kadwa, monospace;

  color: $color-dark;
}

.invisible {
  display: none;
}

.focus-default:focus {
  outline: $color-gray solid 2px !important;
  transition: outline 100ms linear !important;
}